body{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.Hero{
    transform: translate(40%, 40vh);
    /* width: 30%;
    height: 30vh;
    background: rebeccapurple; */
}
.Hero div{
    margin: 0.5rem;
}
.Hero input{
    width: 20%;
    /* height: 10%; */
    font-size: 20px;
}
.Hero button{
    width: 20%;
    /* height: 10%; */
    font-size: 20px;
    border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}